<ion-header>
  <ion-toolbar>
    <ion-title color="light">Additives Finder</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list *ngIf="additives$|async as additives" class="ion-no-padding">

    <ion-item *ngFor="let item of additives.slice(0, max)" [routerLink]="item.id" class="ion-no-padding ion-no-margin">
      <ion-thumbnail slot="start" [ngStyle]="{'background-color': item?.level|color}">
        E{{item.id}}
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="dark">
          <h3>{{item.name}}</h3>
        </ion-text>
        <p>{{item.type}}</p>
      </ion-label> 
      <ion-icon color="dark" name="arrow-forward-circle"></ion-icon> 
    </ion-item>
    
  </ion-list>
  
  <div class="ion-text-center ion-padding">
    <ion-button *ngIf="(additives$|async)?.length >= max" (click)="loadMore()">+</ion-button>
  </div>

</ion-content>
