<ion-content>

  <ion-list *ngIf="additives$|async as additives">

    <ion-item *ngFor="let item of additives" [routerLink]="item.id">
      <ion-thumbnail slot="start">
        E{{item.id}}
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>{{item.name}}</h3>
        </ion-text>
        <p>{{item.type}}</p>
      </ion-label> 
      <ion-icon name="arrow-forward-circle"></ion-icon> 
    </ion-item>
    

  </ion-list>
</ion-content>
