<ion-header>
  <ion-toolbar>
    <ion-back-button color="light" slot="start"></ion-back-button>
    <ion-title color="light">Détails E{{item?.id}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">

    <ion-card-header class="ion-align-items-center" [ngStyle]="{'background-color': item?.level|color}">
      <ion-title class="ion-padding" color="light">E{{item?.id}}</ion-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text class="ion-padding">
        <h1>{{item?.name}}</h1>
        <p>{{item?.type}}</p>
      </ion-text>
      <hr/> 
      <ion-text class="ion-padding-start">
        <p [ngStyle]="{'color': item?.level|color}">{{item?.level|level}}</p>
      </ion-text>
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="details">
    <ion-card-content>
      <div [innerHTML]="details"></div>
      
    </ion-card-content>
  </ion-card>

</ion-content>